/* --- RESET.CSS --- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --- END OF: RESET.CSS --- */

/* --- BOX-SIZING RESET --- */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
/* --- END OF: BOX-SIZING RESET --- */

/* --- GENERAL --- */ 
body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 0px;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

body > div {
    background-image: url("./img/background.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-height: 1500px;
    max-width: 100%;
    position: relative;
    padding-left: 48px;
    padding-right: 42px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.logo--horiz {
    height: 170px;
    width: 100%;
}

.logo__img {
    position: relative;
    display: block;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.3;
    margin-left: 12px;
    margin-right: 12px;
}

.logo--vertic {
    flex-direction: column;
    width: 380px;
    max-height: 400px;
    padding-top: 0px;
}

.logo--shrink {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 120px;
}

.logo__img--address {
    margin-top: 30px;
    margin-bottom: 30px;
}


#flex-grid {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

    -webkit-flex-flow: column wrap; /* Safari 6.1+ */
    flex-flow: column wrap;
    width: 100%;
    max-height: 1300px;
    align-content: space-around;
    align-items: center;
}
/* --- END OF: GENERAL --- */ 

/* --- FORMS AND FIELDS --- */
.form-container, form, button, 
.custom-select, select, input, textarea, ::placeholder {
    font-family: inherit;
    color: #afafaf;
    font-size: 16px;
}

.form-container {
    position: relative;
    flex: none;
    width: 420px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container > p {
    font-size: 2em;
    color: #fff;
    text-shadow: 1px 2px 1px #000;
    margin: 0px 20px 16px;
    text-align: center;
}

.form-wrap {
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.23);
    padding: 20px; 
}

form {
    padding: 25px 20px;
    background-color: #f4f4f4;
    border-radius: 4px;
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

form > * {
    width: 100%;
}

.field {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #ccc;
    background-color: #f4f4f4;
    padding-left: 80px;
}

.field:first-child {
    margin-top: 0px;
}

.field--last {
    margin-bottom: 0px;
}

.field--textarea {
    height: 230px;
    padding-left: 10px;
}

.bg-icon {
    background: center left 16px no-repeat, 59px 3px no-repeat;
}

.bg-icon--user {
    background-image: url(./img/user.png), url(./img/field-separator.png);
}

.bg-icon--email {
    background-image: url(./img/email.png), url(./img/field-separator.png);
}

.bg-icon--lock {
    background-image: url(./img/lock.png), url(./img/field-separator.png);
    background-position: 18px, 59px 3px;
}

.bg-icon--pin {
    background-image: url(./img/pin.png), url(./img/field-separator.png);
    background-position: 21px, 59px 3px;
}

.bg-icon--phone {
    background-image: url(./img/phone.png), url(./img/field-separator.png);
    background-position: 19px, 59px 3px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
/* --- END OF: FORMS AND FIELDS --- */

/* --- BUTTONS --- */
.btn, button {
    border: #3b9a00 1px solid;
    border-radius: 3px;
    background-color: #93d02b;
    font-size: 1.4em;
    color: #fff;
    text-shadow: 1px 1px 1px #2c6804;
    text-align: center;
}

.btn--100 {
    width: 100%;
    height: 48px;
}

.btn--50 {
    height: 41px;
    max-width: 50%;
    width: 150px;
}

.btn--50:last-of-type {
    float: right;
}

.btn--small-font {
    font-size: 1.1em;
}

.btn--red {
    background-color: #f34659 ;
    border-color: #a82c36;
}

.btn--inactive {
    background-color: #bad995 ;
    border-color: #8fca6c;
}

.btn-group {
    margin-top: 20px;
    width: 100%;
}

.btn-group > .checkbox-container {
    display: inline-block;
    width: 50%;
}

/* --- END OF: BUTTONS --- */

/* --- SELECT BOX --- */
.custom-select {
    position: relative;
  }

.custom-select select {
    font-size: 16px;
    border: 0px transparent;
    border-radius: 3px;
    height: inherit;
    width: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(./img/select-arrow.png) 96% / 8% no-repeat;
  }

/* --- END OF: SELECT BOX --- */

/* --- CHECKBOX --- */
/* Customize the label (the container) */ 
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 38px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 100%;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    /* position: absolute;
    opacity: 0;
    cursor: pointer; */
    display: none;
}

/* Custom checkbox */
.checkbox-container > .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 26px;
    width: 26px;
    background-color: #f4f4f4;
    border: solid rgba(198, 198, 198, 0.7) 1px;
    border-radius: 4px;
}

.checkbox-container > span:not(.checkmark) {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

/* On mouse-over */
.checkbox-container:hover > .checkmark {
    background-color: #c6c6c6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 5px;
    top: 5px;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    background-color: #88c814;
}
/* --- END OF: CHECKBOX --- */ 

/* --- SCROLLBAR --- */ 
/* width */
::-webkit-scrollbar {
    width: 15px;
    background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.4); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 136, 136, 1); 
}
/* --- END OF: SCROLLBAR --- */

/* --- DROP SHADOW LOGO --- */ 
.shadowed {
    /* for IE 8 & 9 */
	-ms-filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=-3, OffY=-3,
Color='#444');
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(0 -3px 1px rgba(0,0,0,0.5));
    filter: drop-shadow(0 -3px 1px rgba(0,0,0,0.5));
}
/* --- END OF: DROP SHADOW LOGO --- */ 

/* --- MEDIA QUERIES --- */ 
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    body > div {
        max-height: 3000px;
    }

    #flex-grid {
        max-height: 2600px;
    }
  }

  @media screen and (max-width: 480px) {
      
    .logo--horiz {
        height: auto;
        max-width: 80%;
    }

    .logo--vertic {
        width: auto;
    }

    .form-container {
        position: relative;
        flex: 1;
        width: auto;
        padding: 10px;
    }
    
    .btn--50 {
        width: auto;
    }

  }
  /* --- END OF: MEDIA QUERIES --- */ 